/* All Docs */
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
   padding-top: 90px;
   background-color: rgb(255, 255, 240);
}

.quote {
  
  

}

.quote:hover {
  cursor: pointer;
  color: white;
}




/* Home-Index Page */


.header {
position: fixed;
top: 0;
width: 100%;
}

.top-bar {
background-color: rgb(80, 80, 80);

}

.top-bar_content {
    max-width: 1200;
    margin: 0 auto;
    padding: 0 30px;
    height: 40px;
    font-size: 12px;
    display: flex;
align-items: center;
justify-content: end;
column-gap: 20px;

}

.icon {
margin-right: 3px;

}

.bottom-bar{
background-color: gray;

}

.bottom-bar_content {
    max-width: 1200;
    margin: 0 auto;
    padding: 0 30px;
    height: 70px;
   font-size: 14px;
    display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
    height: 80px;
    margin-left: 40px;
}

.nav {
  transition: all 0.3s ease-in-out;
 
}

.list {
    display: flex;
    column-gap: 40px;
}


.nav-link {
color: white;
transition: all 0.02s;
}

.nav-link:hover {
color: black;
}

.hamburger {
display: none;
cursor: pointer;
}

.bar {
height: 2px;
width: 27px;
background-color: gray;
margin: 5px 0;
opacity: 0.8;
transition: all 0.3s ease-in-out;
}

/*Java script for Hamburger*/
.nav--open {
  transform: translateX(0%) !important;
}

.hamburger--open .bar:nth:-child(1) {
  transform: translate(7px) rotate(45deg);
}

.hamburger--open .bar:nth:-child(2) {
opacity: 0;
}

.hamburger--open .bar:nth:-child(3) {
  transform: translate(-7px) rotate(-45deg);
}

/*fix this responsive thing for nav dev when resized*/
@media (max-width: 650px ) {

    .nav {
        position: fixed;
        top: 110px;
        left: 0;
        background-color: gray;
        width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%); 

    }

    .list {
        flex-direction:column ;
        align-items: center;
        row-gap: 20px;

    }

    .nav-link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    .bar {
      height: 2px;
      width: 27px;
      background-color: white;
      margin: 5px 0;
      opacity: 0.8;
    }


}

/*end of nav*/

.intro-title {
  margin-top: 80px;
  padding: 40px;

}



 .product-gallery {
  display: flex;
  align-items: center;
  text-align: center;
flex-direction: center;
   
 }
 
.product{
    display: flex;
    justify-content: center;
    column-gap: 5px;

    
}

.buton{
    border: none;
    outline: none;
    color: white;
    padding: 15px 32px;
    display: inline;
    font-size: large;
     display: flex;
    justify-content: center;




    
    
}
   


/*slideshow starts */

  .slider {

  }

.slides {

}

.slide {

}




/*end of slideshow*/

/* column writing */
.writing-columns {
align-items: center;
    padding: 40px;
    column-count: 3;
column-gap: 40px;
column-rule-style: solid;
}


/*FA Icons*/
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-marketplace {
      text-align: center;
      margin-bottom: 10px;
      column-gap: 5px;
      
    }
    
    .fa-sociallinks {
  text-align: center;
margin-top: 5px;
  margin-bottom: 10px;    
  column-gap: 5px;

}



  /* Amazon*/
  .fa-amazon {
background: black;
color: white;

  }
/* Ebay*/
.fa-ebay {
    background: gray;
    color: white
}

  /* Linkedin*/
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  /* Youtube */
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

/* Instagram*/
.fa-instagram {
    background: #125688;
    color: white;
  }

/*Maps*/

.locate-us {
text-align: center;
font-size: 30px;
margin-top: 40px ;


}

.maps {
    text-align: center;
}
  
  
  /*footer*/
  .footertop {
  padding: 10px;
  background-color: lightgray;
  }

.footertop-content {
text-align: center;
font-size: large;

}

.footerbottom {
padding: 10px;
    background-color: grey;
}

.footerbottom-content {
    display: flex;
}


/* Contact Us PAge */
.contact {
  margin-top: 80px;  
  text-align: center;
    line-height: 50px;
}

.location-store {
  text-align: center;
  margin: auto;
  padding-left: 500px;
}

.google-maps{
    text-align: center;

}

/* Products */

.cylinder-repair {
  margin: auto;
  margin-top: 80px;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  background-color: gray;
  
  

}

.cylinder-repair_content {
margin: auto;
letter-spacing: 1px;

}

.hose-assembly {
  margin: auto;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: gray;
  
}

.hose-assembly_content {
 margin: auto;
 
}




.products {

}
.products h1 {
 text-align: center;   
justify-content: center;
}

.inventory-container {
padding-left: 250px;
  
  
}

.inventory {
  
  

}


/* Vidoes page*/


.video-page {
  margin-top: 40px;
  text-align: center;
}


.work-videos {
  padding: 10px;
  text-align: center;
}



.coming-soon {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 50px;
  border: black solid;
  background-color: yellow;
}








