/* All Docs */
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
   padding-top: 90px;
   background-color: rgb(255, 255, 240);
}

.quote {
  text-align: center;
  align-items: center;
  

}




/* Marketplace Icons */
.fa-amazon {
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
  border: 2px solid white;
}

.fa-amazon:hover {
  color: black;
}

.fa-ebay {
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
  
}

.fa-ebay:hover {
  color: black;
}

/* Social Media Icons */
.fa-youtube {
  color: white;
  padding: 5px 7px;
  border-radius: 10px;

}

.fa-youtube:hover {
  color: black;
}

.fa-linkedin {
  color: white;
   padding: 5px 7px;
  border-radius: 10px;
  
}

.fa-linkedin:hover {
  color: black;
}

.fa-instagram {
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
  
}

.fa-instagram:hover {
  color: black;
}

/* Home-Index Page */


.header {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}

.top-bar {
background-color: rgb(80, 80, 80);

}

.top-bar_content {
    max-width: 1200;
    margin: 0 auto;
    padding: 0 30px;
    height: 40px;
    font-size: 12px;
    display: flex;
align-items: center;
justify-content: end;
column-gap: 20px;
}

.email {
  color: white;
  font-family: sans-serif;
}

.location {
  color: white;
  font-family: sans-serif;
}

.phone {
  color: white;
  font-family: sans-serif;
}

.time {
  color: white;
   font-family: sans-serif;
}


.icon {
margin-right: 3px;

}

.bottom-bar{
background-color: gray;

}

.bottom-bar_content {
    max-width: 1200;
    margin: 0 auto;
    padding: 0 30px;
    height: 70px;
   font-size: 14px;
    display: flex;
align-items: center;
justify-content: space-between;
}

/* Business Hours Container */
.time {
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  color: white;
  display: inline-block;
}

/* Visible line */
.current-hours {
  margin-left: 5px;
}

/* Dropdown Menu */
.dropdown-menu-clock {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: red;
  min-width: 220px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu-clock li {
  list-style: none;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
  color: white;
}

.dropdown-menu-clock li:last-child {
  border-bottom: none;
}



/*products */
/* Dropdown parent container */
.dropdown-parent {
  position: relative;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: gray;
  padding: 10px 0;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.dropdown-parent:hover .dropdown-menu {
  display: block;
}


.dropdown-link {
  display: block;
  padding: 10px 20px;
  color: white;
  font-family: sans-serif;
  white-space: nowrap;
}

.dropdown-link:hover {
  background-color: black;
  color: white;
}





/*end of dropdwon */
.logo {
    height: 80px;
    margin-left: 40px;
}

.nav {
  transition: all 0.3s ease-in-out;
 
}

.list {
    display: flex;
    column-gap: 40px;
}


.nav-link {
color: white;
font-family: sans-serif;
font-size: medium;
transition: all 0.02s;
}

.nav-link:hover {
color: black;
}

.hamburger {
display: none;
cursor: pointer;
}

.btn-quote {
  color: white;
  background-color: red;
  font-family: sans-serif;
  transition: all 0.02s;
  padding: 8px 20px;
  border-radius: 1000px;
  border: 1px black;
  font-size: medium;
 

}

.btn-quote:hover {
  color: black;
  
  
}


.bar {
height: 2px;
width: 27px;
background-color: gray;
margin: 5px 0;
opacity: 0.8;
transition: all 0.3s ease-in-out;
}

/*Java script for Hamburger*/
.nav--open {
  transform: translateX(0%) !important;
}

.hamburger--open .bar:nth:-child(1) {
  transform: translate(7px) rotate(45deg);
}

.hamburger--open .bar:nth:-child(2) {
opacity: 0;
}

.hamburger--open .bar:nth:-child(3) {
  transform: translate(-7px) rotate(-45deg);
}

/*fix this responsive thing for nav dev when resized*/


@media (max-width: 600px ) {

    .nav {
        position: fixed;
        top: 110px;
        left: 0;
        background-color: gray;
        width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%); 

    }

    .list {
        flex-direction:column ;
        align-items: center;
        row-gap: 20px;

    }

    .nav-link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    .bar {
      height: 2px;
      width: 27px;
      background-color: white;
      margin: 5px 0;
      opacity: 0.8;
    }








}

/*end of nav*/
.intro-container {
 
}


.intro-title {
  background-image: url(assets/front\ imagr.jpg);
  background-size: cover;
  padding: 80px;
  padding-top: 40px;
  padding-bottom: 400px;
  width: 100%;
  height: auto;
  font-family: sans-serif;


}

.intro-box {

}


.title {
  width: 100%; /* make sure it stretches */
  color: black;
   font-family: sans-serif;

 
}

/* second part */
.second-container {
  background-color: yellow;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.second-box {
  border: 2px solid black;
  background-image: url(assets/cylinder\ repair.jpg);
  background-size: cover;
  width: 600px;
  height: 350px;
  flex-direction: column;
  
  
}

.second-half {
  
  padding-bottom: 100px;
  text-align: center;
  padding-top: 250px;

    
}

.second-box_2 {

}
/*Industries Section */
.industries {
 
}

.industry-header {
  text-align: center;
}

.industry-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.industry-1 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 2px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 10px;
}


.industry-2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 2px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 10px;
}

.industry-3 {
   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 2px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 10px;
}

.industry-4 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 2px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 10px;
}

.industry-5 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 2px;
  background-color: gray;
  border-radius: 10px;
  padding: 10px 10px;
}


.industry-list {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  margin-top: 50px;
  text-align: left;
}








.location-web {
display: flex;
  justify-content: center;
}



/* column writing */
.writing-columns {
align-items: center;
    padding: 40px;
    column-count: 3;
column-gap: 40px;
column-rule-style: solid;
}












  
  /*footer*/
  .footertop {
  padding: 10px;
  background-color: lightgray
  }

.footertop-content {
text-align: center;
font-size: large;
display: flex;
justify-content: center;
gap: 5px;

}

.suppliers {
  display: flex;
  justify-content: center;
  width: 20%;
  height: auto;
  
}





.footerbottom {
padding: 10px;
background-color: rgb(80, 80, 80);

    
}

.footerbottom-content {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;
    padding-right: 10px;
}

.marketplace {
 
 
  
}

.social-media {


  
 
}


.payment-type {
  


  
}

.footer-logo {
  display: flex;
  float: left;
}


.fa-cc-visa {
  color: white;
  
}

.fa-cc-mastercard {
  color: white;
}

.fa-cc-discover {
  color: white;
}

.fa-cc-visa {
  color: white;
}


/* Contact Us PAge */

.contact-box {
 
  display: flex;
  justify-content: center;
}

.contact-info {
  text-align: left;
  line-height: 20px;
 font-family: sans-serif;
 padding-left: 50px;
 

}

.contact-info li {
  line-height: 50px;
}

.location-title {
  text-align: center;
  margin-top: 80px;
}

.location-store {
  text-align: center;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
  height: 450px;
  
}

.google-maps{
    text-align: center;

}

/* Services */
.service-header {
  margin-top: 40px;
}


/* Products */

.cylinder-repair {
  margin: auto;
  margin-top: 80px;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  background-color: silver;
  
  

}

.cylinder-repair_content {
margin: auto;
letter-spacing: 1px;


}

.hose-assembly {
  margin: auto;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: silver;
  list-style-type: circle;
  
}

.hose-assembly_content {
 margin: auto;
 
}

.gaskets {
  margin: auto;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: silver;
  list-style-type: circle;
  
}

.gaskets_content {
 margin: auto;
 
}


.vulcanize {
  margin: auto;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: silver;
  list-style-type: circle;
  
}

.vulcanize_content {
 margin: auto;
 
}


/* product Page*/

.wrapper-page {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.inventory-list_container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}


.inventory-item {
  background-color: white;
  font-family: sans-serif;
  z-index: 10;
}

.inventory-item:hover {
  transform: scale(1.03); /* subtle grow */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* soft black shadow */

}

.inventory-item img {
  width: 250px;
  height: auto;
}

.inventory-item hr {
  color: red;
  width: 95%;
  margin: auto;
}

.inventory-item h3 {
text-align: center;
}




/*
.products {
margin-top: 100px;
}
.products h1 {
 text-align: center;   
justify-content: center;
}

.inventory-container {
width: 100%;
height: auto;
margin: auto;
text-align: center;
  
}

.inventory {
  
  

}


/* Vidoes page*/


.video-page {
  margin-top: 40px;
  text-align: center;
}


.work-videos {
  text-align: center;
}



.coming-soon {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 50px;
  border: black solid;
  background-color: yellow;
}


.product-box {
  border: 10px solid;
  border-color: red;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
 
}

.page {
  margin: 0;
  padding-left: 50px;
padding-right: 50px;
}




.right-hose {
  text-align: right;
  display: inline;
  
}